.discount{
	padding-top: 1.5rem;
}

.discount{

}
.label__new-discount{

	border: 1px solid $dark_red;
	padding: 2px 12px;
	color: $white;
	background-color: $dark_red;
	border-radius: 2px;
	margin-bottom: 20px;

}
