.label__new-populars{

		border: 1px solid #FF7222;;
		padding: 2px 12px;
		color: $white;
		background-color: #FF7222;
		border-radius: 2px;
	
	}
	.label-not-available{
		display: inline-block;
		width: 167px;
		border: 1px solid #828282;;
		padding: 2px 12px;
		color: $white;
		background-color: #828282;
		border-radius: 2px;
		
	}
